body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e6f5ff;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mapContainer {
  width: 40%;
  padding-top: 2em;
  padding-left: 2em;
  background-color: #e6f5ff;
}

.quakeContainer {
  width: 35%;
  height: 42.8%;
  position: relative;
  padding-top: 1em;
  padding-right: 1em;
  background-color: #e6f5ff;
}
